.menu {
    display: inline;
}

.logo {
    display: inline;
    width: 45px;
    margin-left: 50px;
    padding-top: 25px;
}

.texts {
    display: inline;
    margin-right: 5px;
    margin-top: 30px;
    float: right;
}

.texts a {
    text-decoration: none;
    margin-right: 50px;
    color: #fff;
}


@media(max-width: 600px) {
    .menu {
        display: none;
    }
}